
<div style="margin-top: 100px; border: 18px solid #f4f4f4; border-radius: 25px; ">

   {{!-- header  --}}
    {{> header}}

<div style="position: relative; height: auto; background-color: #f4f4f4; padding: 25px;text-align: center; display: block;">
    
        <h1 style="color: #626262; top:0; left: 0;  text-align:left; margin: 20px;">dear {{fullName}}</h1>
       
        <h2 style="color: #626262; ">Your password is :</h2>
       <input style="text-align: center; color:#626262 ; width: 300px; font-size: 40px; background-color:#e0e0e0; border-style: hidden; border-radius: 10px; " type="text" value="{{password}}">

    
    </div>
{{> footer}}
{{!-- footer --}}
</div>
