


  <div style="margin-top: 100px; border: 18px solid #f4f4f4; border-radius: 25px; ">

   {{!-- header  --}}
    {{> header}}

<div style="position: relative; height: auto; background-color: #f4f4f4; padding: 25px;text-align: center; display: block;">

       <h1 style="color: #626262; top:0; left: 0; text-align:left; margin: 20px;"> dear {{fullName}} </h1>
        <h2 style="color: #626262; "> To reset your password, please click on this button</h2>
        <a href="{{link}}"> <button style="background-color: #4CAF50;  border: none;color: white;text-align: center;text-decoration: none;display: inline-block;font-size: 30px;margin: 4px 2px;cursor: pointer; padding: 7px 50px; border-radius: 10px;">activate account</button></a>
        <h2 style="color: #626262; ">If the link is not activated, you can use this code</h2>
        <input style="text-align: center; color:#626262 ; width: 280px; font-size: 40px; background-color:#e0e0e0; border-style: hidden; border-radius: 10px; " type="text" value="{{token}}">
        <h4 style="color: #626262; ">This link is valid for 5 days only and will be deactivated</h4>
    

</div>

{{> footer}}
{{!-- footer --}}
</div>
       
