


<div style="margin-top: 100px; border: 18px solid #f4f4f4; border-radius: 25px; ">

   {{!-- header  --}}
    {{> header}}

<div style="position: relative; height: auto; background-color: #f4f4f4; padding: 25px;text-align: center; display: block;">
        <h1 style="color: #626262; top:0; left: 0;  text-align:left; margin: 20px;">dear {{fullName}}</h1>
        <h2 style="color: #626262; ">We are excited to have you join to agricultiral community </h2>
        <h2 style="color: #626262; "> Now your account is active</h2>
    </div>

{{> footer}}
{{!-- footer --}}
</div>
