
<div style="margin-top: 100px; border: 18px solid #f4f4f4; border-radius: 25px; ">

   {{!-- header  --}}
    {{> header}}

<div style="position: relative; height: auto; background-color: #f4f4f4; padding: 25px;text-align: center; display: block;">
    
        <h1 style="color: #626262; top:0; right: 0;  text-align:right; margin: 20px;"> عزيزي {{fullName}}</h1>
        <h2 style="color: #626262; ">يسعدنا انضمامك إلى مجتمع agricultiral</h2>
        <h2 style="color: #626262; ">الآن حسابك نشط</h2>
    </div>

{{> footer}}
{{!-- footer --}}
</div>


