<div style=" height: auto; background-color: #f4f4f4; padding: 18px; border-top: 1px solid #dcd5d5; text-align: center; display: block; ">
    <img src="https://agricultiral.com/logo.png"  style="height: 80px; width: 25%; ">
    <p style="color: #626262">agricultiral community © 2022.</p>
    <a style="color: #626262; text-decoration: none;" href="https://agricultiral.com">www.agricultiral.com</a>
    
</div>