<div style=" height: 100px; background-color: #f4f4f4; padding: 18px; border-bottom: 1px solid #dcd5d5;">
    <img src="https://agricultiral.com/logo.png"  style="float: left; height: 100px; width: 30%;">
    <img src="https://raw.githubusercontent.com/deyaa-pozan/Reading-Notes/main/confirmed.png" style="float: right; height: 100px; width: 20%;">
</div>
